{% load i18n %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Brand New</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-6 col-md-12">
                <form id="form_brand" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-md-3">{% trans 'Client Type' %}</label>
                        <div class="col-md-9">
                            {{ form_brand.name }}
                            <span class="help-block">{{ form_person.person_type.errors }}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">{% trans "Cancel" %}</button>
             {% if not btn_edit %}
                <button type="button" id="save_person" class="btn btn-danger waves-effect waves-ligh">{% trans "Submit" %}</button>
            {% else %}
                <button type="button" id="update_person" data-id="{{ form_pk }}" class="btn btn-danger waves-effect waves-ligh">{% trans "Update" %}</button>
            {% endif %}
        </div>
    </div>
</div>