{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <button id="add_client" class="btn btn-block btn-outline btn-primary waves-effect">{%  trans 'Add Client' %}</button>
                </div>
                <div class="clear"></div>
                <br>
                <div id="list_table" class="table-responsive">
                    {% include 'pages/client/client_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="modal_person" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;"></div>
    </div>
{% endblock container %}


{% block js_app %}
    <script>
        var URL_CLIENT_ADD = "{% url 'admin-client:add' %}";
        var URL_CLIENT_EDIT = "{% url 'admin-client:edit' %}";
        var URL_CLIENT_LIST = "{% url 'admin-client:list' %}";

    </script>
    <script src="{% static "themes/js/pages/client/client.js" %}"></script>
{% endblock js_app %}