<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i>
            </li>
            <li><a href="javascript:void(0)"><i class="icon-home4"></i> <span>Dashboard</span></a></li>

            <li>
                <a href="#"><i class="icon-grid"></i> <span>Administracion</span></a>
                <ul>
                    <li><a href="{% url 'UnitMeasurement:list' %}">UnitMeasurement</a></li>

                    <li><a href="{% url 'VehicleEnrollment:list' %}">VehicleEnrollment</a></li>
                    <li><a href="{% url 'VehicleBrand:list' %}">VehicleBrand</a></li>
                    <li><a href="{% url 'VehicleModel:list' %}">VehicleModel</a></li>
                    <li><a href="{% url 'VehicleFuel:list' %}">VehicleFuel</a></li>
                     <li><a href="{% url 'VehicleInventory:list' %}">VehicleInventory</a></li>
                    <li><a href="{% url 'PurchaseCondition:list' %}">PurchaseCondition</a></li>

                    <li><a href="{% url 'ProductBrand:list' %}">ProductBrand</a></li>
                    <li><a href="{% url 'ProductModel:list' %}">ProductModel</a></li>

                    <li><a href="{% url 'Currency:list' %}">Currency</a></li>
                    <li><a href="{% url 'ExchangeRate:list' %}">ExchangeRate</a></li>

                    <li><a href="{% url 'Service:list' %}">Service</a></li>
                    <li><a href="{% url 'Store:list' %}">Store</a></li>
                    <li><a href="{% url 'Person:list' %}">Client</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Zone</span></a>
                <ul>
                    <li><a href="{% url 'Zone:list' %}">Zone</a></li>
                    <li><a href="{% url 'Country:list' %}">Country</a></li>
                    <li><a href="{% url 'State:list' %}">State</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Articulos</span></a>
                <ul>
                    <li><a href="{% url 'Category:list' %}">Category</a></li>
                    <li><a href="{% url 'Subcategory:list' %}">SubCategory</a></li>
                    <li><a href="{% url 'Product:list' %}">Product</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Team</span></a>
                <ul>
                    <li><a href="{% url 'Module:list' %}">Module</a></li>
                    <li><a href="{% url 'Team:list' %}">Team</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Menu</span></a>
                <ul>
                    <li><a href="{% url 'MenuPermissions:list' %}">Menu-Permissions</a></li>
                    <li><a href="{% url 'Menu:list' %}">Menu</a></li>
                    <li><a href="{% url 'MenuItem:list' %}">SubMenu</a></li>
                    <li><a href="{% url 'TeamMenu:list' %}">Team Menu </a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Company</span></a>
                <ul>
                    <li><a href="{% url 'Organization:list' %}">Organization</a></li>
                    <li><a href="{% url 'Subsidiary:list' %}">Subsidiary</a></li>
                    <li><a href="{% url 'Correlative:list' %}">Correlative</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Supplier</span></a>
                <ul>
                    <li><a href="{% url 'Supplier:list' %}">Supplier</a></li>
                    <li><a href="{% url 'SupplierSubsidiary:list' %}">SupplierSubsidiary</a></li>
                    <li><a href="{% url 'SupplierProduct:list' %}">SupplierProduct</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon-grid"></i> <span>Vehicle</span></a>
                <ul>
                   <li><a href="{% url 'Vehicle:list' %}">Vehicles</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="icon-grid"></i> <span>Customers</span></a>
                <ul>
                    <li><a href="{% url 'User:list' %}">User</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="icon-grid"></i> <span>Quotation</span></a>
                <ul>
                    <li><a href="{% url 'QuotationStore:list' %}">cotizacion Almacen</a></li>
                </ul>
            </li>
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Logistica</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Contabilidad</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Tesoreria</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Recursos Humanos</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Operaciones</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Facturacion</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><i class="icon-grid"></i> <span>Reportes</span></a>#}
{#                <ul>#}
{#                    <li><a href="components_modals.html">Modals</a></li>#}
{#                </ul>#}
{#            </li>#}

        </ul>
    </div>
</div>