{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}


{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="col-lg-2 col-sm-4 col-xs-12">
                    <button id="add_brand" class="btn btn-block btn-outline btn-primary waves-effect">{%  trans 'Add Brand' %}</button>
                </div>
                <div class="clear"></div>
                <br>
                <div id="list_table" class="table-responsive">
                    {% include 'pages/brand/brand_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="modal_brand" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;"></div>
    </div>
{% endblock container %}


{% block js_app %}
    <script>
        var URL_BRAND_ADD = "{% url 'admin-brand:add' %}";
        var URL_BRAND_EDIT = "{% url 'admin-brand:edit' %}";
        var URL_BRAND_LIST = "{% url 'admin-brand:list' %}";

    </script>
    <script src="{% static "themes/js/pages/brand/brand.js" %}"></script>
{% endblock js_app %}