{% extends "dashboard/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    {% block page-content-siderbar %}
        {{ block.super }}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
                 {{ block.super }}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="ExchangeRate_form" method="post" action="" class="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="text-semibold">{% trans "Currency" %}</label>
                                    {{ form.currency }}
                                    <span class="help-block">{{ form.currency.errors }}</span>
                                </div>
                                <div class="form-group">
                                    <label class="text-semibold">{% trans "Exchange Rate" %}</label>
                                    {{ form.exchange_rate }}
                                    <span class="help-block">{{ form.exchange_rate.errors }}</span>
                                </div>
                                <div class="form-group">
                                    <label class="text-semibold">{% trans "Start Date" %}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        {{ form.start_date }}
                                    </div>
                                    <span class="help-block">{{ form.start_date.errors }}</span>
                                </div>
                                <div class="form-group">
                                    <label class="text-semibold">{% trans "End Date" %}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        {{ form.end_date }}
                                    </div>
                                    <span class="help-block">{{ form.end_date.errors }}</span>
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-info" href="{% url path_url_list %}"><i class="fa fa-arrow-left"></i>{% trans "Back" %}</a>
                                    <button type="submit" class="btn btn-info">{% trans "Submit" %} <i class="fa fa-arrow-right"></i></button>
                                </div>
							</form>
                        </div>
                    </div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}

{% block js_plugins_after %}
	<script type="text/javascript" src="{% static "themes/global/pickadate/lib/compressed/picker.js" %}"></script>
	<script type="text/javascript" src="{% static "themes/global/pickadate/lib/compressed/picker.date.js" %}"></script>
    <script type="text/javascript" src="{% static "themes/global/pickadate/lib/compressed/picker.date.js" %}"></script>
{% endblock js_plugins_after %}

{% block js_plugins_before %}
	<script>
        $(function() {
            $('.datepicker').pickadate({
               format: 'yyyy-mm-dd',
               formatSubmit: 'yyyy-mm-dd'
            })
        });
    </script>
{% endblock js_plugins_before %}