{% extends "dashboard/base_dashboard.html" %}
{% load i18n %}
{% block content %}
    {% block page-content-siderbar %}
        {{ block.super }}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
                 {{ block.super }}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="heading-elements">
                                <a class="btn btn-primary heading-btn" href="{% url path_url_create %}">{% trans "Create" %}</a>
                            </div>
                            <br/>
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive" style="display: block;">
                                <table class="table">
                                    <thead>
                                    <tr class="bg-blue">
                                        <th>#</th>
                                        <th>{% trans "Zone" %}</th>
                                        <th>{% trans "Country" %}</th>
                                        <th>{% trans "Name" %}</th>
                                        <th>{% trans "Action" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td><b>{{ forloop.counter }} .-</b></td>
                                            <td>{{ object.zone }}</td>
                                            <td>{{ object.country }}</td>
                                            <td>{{ object.name }}</td>
                                            <td>
                                                <a href="{% url path_url_update  pk=object.id %}"><i class="icon-pencil7"></i></a> &nbsp;
                                                <a href="{% url path_url_delete pk=object.id %}"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4">No items.</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            {% include 'partials/pagination.html' %}
                        </div>
                    </div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}
