{% extends "dashboard/base_dashboard.html" %}
{% load i18n %}
{% load static %}
{% load filter %}

{% block content %}
    {% block page-content-siderbar %}
        {{ block.super }}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
                 {{ block.super }}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="Quotation_Store_form" method="post" class="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="text-semibold">{% trans "Code Qt." %}</label>
                                            {{ form.code_qt_store }}
                                            <span class="help-block">{{ form.code_qt_store.errors }}</span>
                                        </div>

                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="text-semibold">{% trans "Date" %}</label>
                                             <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                                {{ form.date }}
                                            </div>
                                            <span class="help-block">{{ form.date.errors }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="text-semibold">{% trans "Applicant" %}</label>
                                            {{ form.applicant }}
                                            <span class="help-block">{{ form.applicant.errors }}</span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset>
                                            <legend class="text-semibold">
                                                <i class="icon-archive"></i> {% trans "Product with Supplier" %}
                                            </legend>
                                            <div class="form-group">
                                                <label class="text-semibold">{% trans "Supplier" %}</label>
                                                {{ form.supplier }}
                                                <span class="help-block">{{ form.supplier.errors }}</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-semibold">{% trans "Product" %}</label>
                                                <div class="input-group">
                                                    <select class="form-control" id="id_product_supplier" name="product_supplier"></select>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" id="add_supplier_product"  type="button">{% trans "Add" %}</button>
                                                    </span>
                                                </div>
                                                <span class="help-block">{{ form.product_supplier.errors }}</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <legend class="text-semibold">
                                                <i class="icon-archive"></i> {% trans "Product with Category" %}
                                            </legend>
                                            <div class="form-group">
                                                <label class="text-semibold">{% trans "Categoria" %}</label>
                                                <select class="form-control" id="id_category" name="category"></select>
                                                <span class="help-block">{{ form.category.errors }}</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-semibold">{% trans "Subcategoria" %}</label>
                                                <select class="form-control" id="id_sub_category" name="sub_category"></select>
                                                <span class="help-block">{{ form.sub_category.errors }}</span>
                                            </div>
                                            <div class="form-group">
                                                <label class="text-semibold">{% trans "Product" %}</label>
                                                <div class="input-group">
                                                    <select class="form-control" id="id_product" name="product"></select>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" id="add_supplier_product_category" type="button">{% trans "Add" %}</button>
                                                    </span>
                                                </div>
                                                <span class="help-block">{{ form.product.errors }}</span>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>{% trans " Category  / Product Name " %}</th>
                                                    <th>{% trans " Quantity " %}</th>
                                                    <th>{% trans " Action " %}</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_quotation_row">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <div class="text-right">
                                    <a class="btn btn-info" href="{% url path_url_list %}"><i class="fa fa-arrow-left"></i>{% trans "Back" %}</a>
                                    <a href="javascript:void(0)" id="submit_form" class="btn btn-info">{% trans "Submit" %} <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}

{% block js_plugins_after %}
	<script type="text/javascript" src="{% static "themes/global/pickadate/lib/compressed/picker.js" %}"></script>
	<script type="text/javascript" src="{% static "themes/global/pickadate/lib/compressed/picker.date.js" %}"></script>
    <script type="text/javascript" src="{% static "themes/global/pickadate/lib/compressed/picker.date.js" %}"></script>
    <script type="text/javascript" src="{% static "themes/global/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" %}"></script>
{% endblock js_plugins_after %}

{% block js_plugins_before %}
    <script src="{% static "themes/js/formserializer.js" %}"></script>
    <script src="{% static "themes/js/pages/quotation/quotation.js" %}"></script>
	<script>
        $(function() {
            $('.datepicker').pickadate({
               format: 'yyyy-mm-dd',
               formatSubmit: 'yyyy-mm-dd'
            });
            $(".touchspin-step").TouchSpin({
                min: 1,
                max: 100,
                step: 1
            });
        });
    </script>
{% endblock js_plugins_before %}
